In [2]:
import pandas as pd
import numpy as np

#### 1 - Leia o arquivo lemonades.csv usando pandas

In [3]:
df = pd.read_csv('Lemonades.csv',sep=';')
df.head()

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  07/01/2016     Park     97      67           70      90.0   0.25
1  07/02/2016     Park     98      67           72      90.0   0.25
2  07/03/2016     Park    110      77           71     104.0   0.25
3  07/04/2016    Beach    134      99           76      98.0   0.25
4  07/05/2016    Beach    159     118           78     135.0   0.25

#### 2 - retorne as informações sobre as colunas e as principais estatísticas sobre o dataset.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
Date           31 non-null object
Location       32 non-null object
Lemon          32 non-null int64
Orange         32 non-null int64
Temperature    32 non-null int64
Leaflets       31 non-null float64
Price          32 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.8+ KB

In [5]:
df.describe()

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354687
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

#### 3. Realize a limpeza do dataset:

#### a. verifique se existe valores nulos

In [6]:
df[df.isnull().any(axis=1)]

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
8         NaN    Beach    123      86           82     113.0   0.25
20  7/20/2016     Park     71      42           70       NaN   0.50

In [7]:
df['Leaflets'] = df['Leaflets'].fillna(df['Leaflets'].mean())

#### b. verifique e remova, se existir, linhas duplicadas

In [8]:
df[df.duplicated()]

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
6  07/06/2016    Beach    103      69           82      90.0   0.25

In [9]:
df = df.drop_duplicates( keep='last')

#### 4 Adicione uma coluna chamada "Sales" que contém o total de
#### vendas de limão e laranja

In [11]:
df['Sales'] = df['Lemon'] + df['Orange']

#### 5. Adicione uma coluna chamada "Revenue" que calcula o lucro (venda*preço)

In [14]:
df['Revenue'] = df['Sales'] * df['Price']

#### 6. Escreva uma função que retorne o lucro total

In [27]:
def fn_retorna_lucro():
    return ('o lucro total é de:' , df['Revenue'].sum())

In [28]:
fn_retorna_lucro()

('o lucro total é de:', 2138.0)

#### 7. Escreva uma função que receba dois parâmetros, dataset e
####    temp(int). Se temp for 1, ele retorna a máxima temperatura
####    observada no conjunto de dados; se 0, retorna a média do período
####    observado; se -1, retorna a temperatura mínima

In [35]:
def fn_retorna_temperatura(df_dados, fl_temperatura):
    if fl_temperatura == -1:
        resultado = df_dados['Temperature'].min()
    elif fl_temperatura == 0:
        resultado = df_dados['Temperature'].mean()
    elif fl_temperatura == 1:
        resultado = df_dados['Temperature'].max()
    
    return(resultado)

In [39]:
print('Temperatura Minima é de: ', fn_retorna_temperatura(df,-1), \
      'f e a média é de: ', fn_retorna_temperatura(df,0),\
     'f e a Maxima é de: ', fn_retorna_temperatura(df,1))

Temperatura Minima é de:  70 f e a média é de:  78.87096774193549 f e a Maxima é de:  84

#### 8. Escreva uma função que receba dois parâmetros (dataset,localização) e retorne o dataset com o preço do limão e laranja
#### ajustados em 15% se a localização for 'Park' ou ajustados em 10% se a localização for 'Beach'

In [ ]:
def fn_retorna_preco_localizacao(df_dados, nm_locale):